{% include "header.html" %}

<header
  class="masthead"
  style="background-image: url('../static/assets/img/about-bg.jpg')"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading">
          <h1>About Me</h1>
          <span class="subheading">This is what I do</span>
        </div>
      </div>
    </div>
  </div>
</header>

<main class="mb-4">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <p>
          Sunt student la Facultatea de Automatică și Calculatoare din cadrul Universității Tehnice din Cluj-Napoca,
          pasionat de dezvoltarea software și de tehnologiile noi.
        </p>
        <p>
          De-a lungul parcursului meu academic, am realizat diverse proiecte care mi-au consolidat bazele tehnice în
          limbajele C/C++, Java și Python și care mi-au dezvoltat capacitatea de a găsi soluții eficiente. Pe lângă
          competențele software, am și cunoștințe de hardware, având experiență în VHDL și în realizarea unor
          proiecte practice în acest domeniu.
        </p>
        <p>
          Mă consider o persoană ambițioasă și creativă abordând fiecare provocare cu determinare și atenție la detalii.
          Îmi place să lucrez în echipă și am abilități de leadership, fiind mereu deschis să coordonez și să mă implic
          activ în proiecte complexe. Văd provocările zilnice ca pe oportunități de creștere și îmi doresc să contribui
          la dezvoltarea de soluții inovatoare în industria software.
        </p>
      </div>
    </div>
  </div>
</main>

{% include "footer.html" %}
